html, body {
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden auto;
}
#root {
    width: 100vw;
    height: auto;
}

#title {
    display: flex;
    align-items: center;
}

.platform-logo {
    margin: 5vw;
    width: 10vw;
}

#content {
    margin-left: 20vw;
}